* text=auto
*.java text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.py text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.png binary
app/src/main/assets/licenses/** -whitespace conflict-marker-size=100
app/src/main/cpp/libretro.h -whitespace
